.actionIcon {
    &:hover {
        border-color: transparent;
    }
    &:focus:not(:focus-visible) {
        outline: none;
    }
}

.burger {
    &:focus:not(:focus-visible) {
      outline: none;
    }
}

.menuItem {
    &:focus {
      outline: none;
    }
}

.appShell {
    --app-shell-border-color: var(--mantine-primary-color-9) !important;
}
